.ant-list-items {
    margin: 7rem;

}

.anticon-check:hover {
   transform: scale(1.6,1.6);

}

.anticon-close:hover {
    transform: scale(1.6,1.6);
}

.ant-list-item:hover{
    background-color: #e6f7ff;
    transform: scale(1.1,1.1);
    transition-duration: 0.2s;

}
